services:
  web:
    container_name: all-masters-web
    build:
      context: ..
      dockerfile: build/Dockerfile
    # изменения кода без пересборки:
    # volumes:
    #   - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    restart: unless-stopped
    networks:
      - all-masters-net

#  ngrok:
#    image: ngrok/ngrok:latest
#    environment:
#      NGROK_AUTHTOKEN: 2zdC8tktOeI9w4ep9TxavE8RIrD_5uw5sPkMSHtpFZQc1fS38
#    command: [ "http", "web:8000" ]
#    depends_on:
#      - web
#    ports:
#      - "4040:4040"
#  tunnel:
#    image: cloudflare/cloudflared:latest
#    container_name: all-masters-web-tunnel
#    depends_on:
#      - web
#    command: tunnel --no-autoupdate --url http://web:8000
#    restart: unless-stopped

networks:
  all-masters-net:
    external: true
    name: all-masters-net
