services:
  web:
    container_name: all-masters-web
    build:
      context: ..
      dockerfile: build/Dockerfile
    volumes:
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/logs:/app/logs"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/avatars:/app/images/avatars"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/collages:/app/images/collages"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/defaults:/app/images/defaults"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/works:/app/images/works"
    # изменения кода без пересборки:
    # volumes:
    #   - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    restart: unless-stopped
    networks:
      - all-masters-net

#  ngrok:
#    image: ngrok/ngrok:latest
#    environment:
#      NGROK_AUTHTOKEN: 2zdC8tktOeI9w4ep9TxavE8RIrD_5uw5sPkMSHtpFZQc1fS38
#    command: [ "http", "web:8000" ]
#    depends_on:
#      - web
#    ports:
#      - "4040:4040"
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: all-masters-web-tunnel
    depends_on:
      - web
    command: tunnel --no-autoupdate --url http://web:8000
    restart: unless-stopped
    networks:
      - all-masters-net

#Эта часть использует общую сеть, созданную в другом проекте
#Расскоментировать, если запускается после содания общей сети
#networks:
#  all-masters-net:
#    external: true
#    name: all-masters-net

#При запуске через Docker, запускается в начале all-masters-web
#Эта часть создает общую сеть
networks:
  all-masters-net:
    name: all-masters-net
    driver: bridge
